@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&family=Work+Sans&display=swap');
*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
body {
    background: #fff;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
html
{
	scroll-behavior: smooth;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
table td, th {
    padding: 15px 5px;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    border-radius: 2px;
    text-align: center;
}
th
{
text-align: center!important;
}
.parallax-container {
    height: 150px;
}

@media only screen and (max-width: 600px) {
    .parallax-container {
        height: 150px;
    }
}